:root {
    /* v1 */
    --header-color: #7563ee;
    --button-color: #f44336;
    --screen-color: #63c7ee;

    /* v2 */
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0;
}

.contact {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center vertically */
    box-sizing: border-box; /* Include padding in width calculation */
    padding: 0 20px; /* Add padding to create space inside the container */
}

.linkrow h1 {
    font-size: 1.5rem; /* Change from pixels to rem */
}

.contact button {
    background-color: var(--button-color);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact h1 {
    font-weight: 100; /* Light font weight */
    color: white; /* Ensure text is visible */
    margin: 0; /* Remove default margin */
    margin-left: 30px;
    font-size: 20px;
}

header h1 {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 700;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh; /* Set a fixed height relative to the viewport */
    background-color: var(--screen-color);
}

.leftscreen, .rightscreen {
    flex: 1;
    display: flex;
    align-items: center;
}

.leftscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    padding: 0 10vh;
}


.leftscreen h1 {
    margin: 0 0 20px 0;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.leftscreen h2 {
    font-weight: 400;
    margin-top: -20px;
    font-size: 30px;
}

.leftscreen button:hover, .contact button:hover {
    background-color: darkred;
}


.leftscreen button {
    background-color: var(--button-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rightscreen {
    justify-content: flex-end;
    padding-right: 10vh;
}

.rightscreen img {
    max-width: 80%;
    max-height: 80%;
}

.trustedby {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.trustedby-text {
    color: var(--button-color);
    font-weight: 400;
    font-size: 20px;
}

.trustedby-logos {
    display: flex;
    gap: 50px;
}

.trustedby-logos img {
    max-width: 150px;
}

.lowerscreen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    
}

.panelcontainer h1 {
    font-weight: 500;
}

.panelcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.panel1, .panel2, .panel3, .panel4 {
    width: 40vh;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    overflow: hidden; /* Hide overflow */
    position: relative;
    margin-bottom: 20px;
}

.panel1 img, .panel2 img, .panel3 img, .panel4 img {
    width: 100%; /* Make image fit width of panel */
    height: 100%; /* Make image fit height of panel */
    object-fit: cover; /* Ensure image covers panel and is clipped if necessary */
}

